[Unit]
Description=weather station server
After=network.target

[Service]
User=pi
Group=pi
ExecStart=/home/pi/.weatherstation_venv/bin/weather-station --listen
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
