[Unit]
Description=weather station temperature and humidity recording
After=network.target

[Service]
User=pi
Group=pi
ExecStart=/home/pi/.venv/bin/weather-station -t
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
