[Unit]
Description=weather station server
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/weather-station/server
ExecStart=server.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
