[Unit]
Description=weather station temperature and humidity recording
After=network.target

[Service]
User=pi
Group=pi
ExecStart=weather-station -t
Restart=always

[Install]
WantedBy=multi-user.target
